




nav.navbar .nav-link {
      border: 1px solid transparent;
      border-radius: 5px;
      padding: 5px 10px;
      transition: all 0.3s ease;
    }
    .nav-link:hover {
      color: #fff !important;
    }
    .text-primary:hover {
      background-color: #0d6efd;
      border-color: #0d6efd;
    }
    .text-success:hover {
      background-color: #198754;
      border-color: #198754;
    }
    .text-danger:hover {
      background-color: #dc3545;
      border-color: #dc3545;
    }
    .text-warning:hover {
      background-color: #ffc107;
      border-color: #ffc107;
    }
    .text-info:hover {
      background-color: #0dcaf0;
      border-color: #0dcaf0;
    }

h1{ 
color: green;
 }

 .bg-custom {

            background-color: #f8d7da;

        }
        .text-custom {
            color: #c82333; 
        }
        .btn-custom {
            background-color: #d63384; 
            border: none;
        }
        .btn-custom:hover {
            background-color: #e83e8c; 
        }
        .input-group-text-custom {
            background-color: #d63384; 
            border: none;
            color: white;
        }

.div-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px; /* Añadido padding para un mejor diseño */
    background-color: #ff4b3e; /* Color de fondo acorde con la temática */
}

.div-footer a {
    font-size: 40px; /* Tamaño de los iconos aumentado */
    color: white; /* Color de los iconos */
    margin: 10px; /* Espacio entre los iconos */
}